.banner {
    background-image: url(https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60) ;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    /* width: 100%; */
}


.banner h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 100px;
    font-size: 30px;
    text-align: ;
 
}
.banner p { 
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 100px;

}

